.sub-app-container
{
    height: 100%;
}
.main-container
{
    height:840px;
}
.titleOfPost
{
    font-family:'Dosis', sans-serif ;
    font-size: 2rem;
    height: 10%;
    box-sizing: border-box;
    padding-top:10px;
    padding-bottom: 30px;
}
.blogpost
{
    height: 100%;
    width:65%;
    display: inline-block;
}
.container
{
    height:90%;
}
.nav-container
{
    display:block;
    height:33%;
    width:100%;
    margin-top: 5px;
}
.sidepost
{
    height:100%;
    width:30%;
    float:right;
}
.wrap
{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    height:94%;
}
.hrblogpost
{
    color: grey;
    display: block;
}
.bimage1-container
{
    width:55%;
    height: 100%;
}
.bimage1
{
    height:100%;
    width:100%;
}
.para
{
    padding-top:25px;
    width:43%;
    overflow-wrap: break-word;
    height:100%;
}
.para1
{
    margin-bottom:15px;
    font-family: 'Raleway', sans-serif;
    font-weight:500;
}
.para2
{
    margin-top:5px;
    font-family: 'Dosis', sans-serif;
    font-weight: lighter;
    color: grey;
}
.para3
{
    margin-top: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: lighter;
}
a
{
    text-decoration: none;
    color: inherit;
}
.pimage
{
    width:100%;
    height:100%;
}
#post1details
{
    height:20%;
    padding-top: 8px;
    box-sizing: border-box;
}
.post1
{
    height:100%;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    overflow-wrap: break-word;
    width:85%;
}
.number1
{
    height: 100%;
    color:grey;
    width:10%;
    float:right;
    font-size:40px;
}
.post2
{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    height: 100%;
}
.post2imagediv
{
    width:40%;
    height: 100%;
}
.post2details
{
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    margin-left: 5px;
    width:50%;
    height: 100%;
}
.post2number
{
    width:10%;
    font-size:40px;
   margin-left: 5px;
   color: grey;
   height: 100%;
}
.post2image
{
    width:100%;
    height: 100%;
}


.navlink1
{
    height:50%;
    display: block;
}
.navlink2
{
    height:20%;
    display: block;
}
.sub-div
{
    height: 100%;
}
.pimagediv
{
    height: 80%;
}
