
.app-container
{
    position:relative;
    top:150px;
    margin:auto;
    width:80%;
    height:100%;
}
.app-title
{
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top:50px;
    width: 100%;
    font-weight: 700;
}
.header-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:80%;
    height:30px;
    margin:auto;
    margin-bottom:10px;
}
.header-items
{
    color:black;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: large;
}
.navbarhr
{
    display:block;
    position: relative;
    left:40px;
    margin-bottom: 20px;
}
.image-container1
{
    border-radius: 5px;
    width:60%;
    height:350px;
    display:inline-block;
    position: relative;
    left:90px;
    background-image: url("../Images/technology-robot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container2
{
    
    width:30%;
    height:350px;
    float: right;
}
.image2
{
    border-radius: 5px;
    width:100%;
    height:48%;
}   
.image3
{
    border-radius: 5px;
    width:100%;
    height: 48%;
    position: relative;
    top:8px;
}
/*.header
{
    color:black;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.App
{
    width:90%;
    margin:auto;
    border:1px solid black;
}
p
{
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.imageclass
{
    height:20%;
}
.image
{
    height:100%;
    background-color: aquamarine;
    background-image: url(../Images/bike.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
}*/